@tailwind preflight;
@tailwind components;

@import "fonts.scss";
@import "vars.scss";



body {
	margin: 0;
	background-image: url(assets/images/background_filter.png);
	background-size: cover;
	overflow-x: hidden;
}

nav {
	padding: 30px;
	display: flex;
	justify-content: space-between;

	.nav_logo {
		width: 200px;
		align-self: center;
	}

	.nav_icon {
		width: 60px;
		align-self: center;
	}
}

main {
	padding: 50px 0;
	section.VueCarousel {

		div.VueCarousel-wrapper {
			div.VueCarousel-inner {
				div.VueCarousel-slide {
					div {
						padding: 0 15%;
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.title-container {
		width: 40%;
		margin: 0 auto;

		h1 {
			margin-top: 0;
			font-family: $primary_font;
			font-size: $primary_font_size;
			text-align: center;
			font-size: 5em;
		}
	
		p {
			font-family: $secondary_font;
			font-size: $secondary_font_size;
			text-align: center;
			font-size: 1.5em;
		}
	}
}



@tailwind utilities;



